In [1]:
#Importing Libraries
import warnings
from utility import Univariate
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
warnings.filterwarnings("ignore")

In [3]:
#Loading Dataset
dataset = pd.read_csv("Balanced_Dataset.csv")

In [4]:
dataset

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,48.0,90754,5902,462,91,2,10.46,60,0.80,Master's,Part-time,Married,No,No,Home,Yes,0
1,24.0,59193,90049,309,73,1,20.85,36,0.88,High School,Self-employed,Single,Yes,No,Business,Yes,0
2,55.0,77343,204141,423,19,2,17.66,48,0.49,Bachelor's,Full-time,Divorced,Yes,No,Home,Yes,0
3,18.0,25087,15645,474,23,4,20.95,48,0.58,Bachelor's,Part-time,Divorced,No,No,Education,Yes,0
4,31.0,33215,235022,771,67,3,10.53,36,0.90,PhD,Full-time,Single,Yes,No,Auto,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,59.0,127901,46482,424,44,4,15.27,60,0.58,Master's,Self-employed,Divorced,No,Yes,Business,No,1
996,54.0,139677,138362,780,27,3,11.82,24,0.49,PhD,Part-time,Single,Yes,No,Business,No,1
997,42.0,53038,62256,763,116,3,2.55,36,0.54,PhD,Part-time,Divorced,Yes,No,Education,Yes,0
998,43.0,137420,116698,424,21,4,9.43,36,0.85,PhD,Self-employed,Divorced,No,No,Home,No,1
999,48.0,33362,205046,750,2,2,4.37,60,0.37,High School,Unemployed,Married,No,No,Other,Yes,1

In [5]:
dataset.isnull().sum()

Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             1000 non-null   float64
 1   Income          1000 non-null   int64
 2   LoanAmount      1000 non-null   int64
 3   CreditScore     1000 non-null   int64
 4   MonthsEmployed  1000 non-null   int64
 5   NumCreditLines  1000 non-null   int64
 6   InterestRate    1000 non-null   float64
 7   LoanTerm        1000 non-null   int64
 8   DTIRatio        1000 non-null   float64
 9   Education       1000 non-null   object
 10  EmploymentType  1000 non-null   object
 11  MaritalStatus   1000 non-null   object
 12  HasMortgage     1000 non-null   object
 13  HasDependents   1000 non-null   object
 14  LoanPurpose     1000 non-null   object
 15  HasCoSigner     1000 non-null   object
 16  Default         1000 non-null   int64
dtypes: float64(3), int64(7), object(7)
memory usage: 132.9+ KB

In [7]:
independent = dataset.drop("Default", axis = 1)
dependent = dataset["Default"]

In [8]:
dependent

0      0
1      0
2      0
3      0
4      1
      ..
995    1
996    1
997    0
998    1
999    1
Name: Default, Length: 1000, dtype: int64

In [9]:
independent

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner
0,48.0,90754,5902,462,91,2,10.46,60,0.80,Master's,Part-time,Married,No,No,Home,Yes
1,24.0,59193,90049,309,73,1,20.85,36,0.88,High School,Self-employed,Single,Yes,No,Business,Yes
2,55.0,77343,204141,423,19,2,17.66,48,0.49,Bachelor's,Full-time,Divorced,Yes,No,Home,Yes
3,18.0,25087,15645,474,23,4,20.95,48,0.58,Bachelor's,Part-time,Divorced,No,No,Education,Yes
4,31.0,33215,235022,771,67,3,10.53,36,0.90,PhD,Full-time,Single,Yes,No,Auto,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,59.0,127901,46482,424,44,4,15.27,60,0.58,Master's,Self-employed,Divorced,No,Yes,Business,No
996,54.0,139677,138362,780,27,3,11.82,24,0.49,PhD,Part-time,Single,Yes,No,Business,No
997,42.0,53038,62256,763,116,3,2.55,36,0.54,PhD,Part-time,Divorced,Yes,No,Education,Yes
998,43.0,137420,116698,424,21,4,9.43,36,0.85,PhD,Self-employed,Divorced,No,No,Home,No
999,48.0,33362,205046,750,2,2,4.37,60,0.37,High School,Unemployed,Married,No,No,Other,Yes

In [10]:
#Splitting into Numerical and Categorical Data
numerical_data = independent.select_dtypes(include = [np.number])
categorical_data = independent.select_dtypes(exclude = [np.number])

In [11]:
categorical_data

,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner
0,Master's,Part-time,Married,No,No,Home,Yes
1,High School,Self-employed,Single,Yes,No,Business,Yes
2,Bachelor's,Full-time,Divorced,Yes,No,Home,Yes
3,Bachelor's,Part-time,Divorced,No,No,Education,Yes
4,PhD,Full-time,Single,Yes,No,Auto,No
...,...,...,...,...,...,...,...
995,Master's,Self-employed,Divorced,No,Yes,Business,No
996,PhD,Part-time,Single,Yes,No,Business,No
997,PhD,Part-time,Divorced,Yes,No,Education,Yes
998,PhD,Self-employed,Divorced,No,No,Home,No
999,High School,Unemployed,Married,No,No,Other,Yes

In [12]:
numerical_data

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio
0,48.0,90754,5902,462,91,2,10.46,60,0.80
1,24.0,59193,90049,309,73,1,20.85,36,0.88
2,55.0,77343,204141,423,19,2,17.66,48,0.49
3,18.0,25087,15645,474,23,4,20.95,48,0.58
4,31.0,33215,235022,771,67,3,10.53,36,0.90
...,...,...,...,...,...,...,...,...,...
995,59.0,127901,46482,424,44,4,15.27,60,0.58
996,54.0,139677,138362,780,27,3,11.82,24,0.49
997,42.0,53038,62256,763,116,3,2.55,36,0.54
998,43.0,137420,116698,424,21,4,9.43,36,0.85
999,48.0,33362,205046,750,2,2,4.37,60,0.37

In [13]:
imputer = SimpleImputer(strategy = "mean")

In [14]:
imputer.fit(numerical_data[::])

SimpleImputer()

In [15]:
numerical_filled_data = pd.DataFrame(imputer.fit_transform(numerical_data), columns = numerical_data.columns)

In [16]:
numerical_filled_data.isnull().sum()

Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
dtype: int64

In [17]:
categorical_imputer = SimpleImputer(strategy = "most_frequent")

In [18]:
categorical_filled_data = pd.DataFrame(categorical_imputer.fit_transform(categorical_data), columns = categorical_data.columns)

In [19]:
categorical_filled_data.isnull().sum()

Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
dtype: int64

In [20]:
independent = pd.concat([numerical_filled_data,categorical_filled_data], axis = 1)

In [21]:
independent

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner
0,48.0,90754.0,5902.0,462.0,91.0,2.0,10.46,60.0,0.80,Master's,Part-time,Married,No,No,Home,Yes
1,24.0,59193.0,90049.0,309.0,73.0,1.0,20.85,36.0,0.88,High School,Self-employed,Single,Yes,No,Business,Yes
2,55.0,77343.0,204141.0,423.0,19.0,2.0,17.66,48.0,0.49,Bachelor's,Full-time,Divorced,Yes,No,Home,Yes
3,18.0,25087.0,15645.0,474.0,23.0,4.0,20.95,48.0,0.58,Bachelor's,Part-time,Divorced,No,No,Education,Yes
4,31.0,33215.0,235022.0,771.0,67.0,3.0,10.53,36.0,0.90,PhD,Full-time,Single,Yes,No,Auto,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,59.0,127901.0,46482.0,424.0,44.0,4.0,15.27,60.0,0.58,Master's,Self-employed,Divorced,No,Yes,Business,No
996,54.0,139677.0,138362.0,780.0,27.0,3.0,11.82,24.0,0.49,PhD,Part-time,Single,Yes,No,Business,No
997,42.0,53038.0,62256.0,763.0,116.0,3.0,2.55,36.0,0.54,PhD,Part-time,Divorced,Yes,No,Education,Yes
998,43.0,137420.0,116698.0,424.0,21.0,4.0,9.43,36.0,0.85,PhD,Self-employed,Divorced,No,No,Home,No
999,48.0,33362.0,205046.0,750.0,2.0,2.0,4.37,60.0,0.37,High School,Unemployed,Married,No,No,Other,Yes

In [22]:
independent.isnull().sum()

Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
dtype: int64

In [23]:
dependent

0      0
1      0
2      0
3      0
4      1
      ..
995    1
996    1
997    0
998    1
999    1
Name: Default, Length: 1000, dtype: int64

In [24]:
preprocessed_dataset = pd.concat([independent, dependent],axis = 1)
preprocessed_dataset

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,48.0,90754.0,5902.0,462.0,91.0,2.0,10.46,60.0,0.80,Master's,Part-time,Married,No,No,Home,Yes,0
1,24.0,59193.0,90049.0,309.0,73.0,1.0,20.85,36.0,0.88,High School,Self-employed,Single,Yes,No,Business,Yes,0
2,55.0,77343.0,204141.0,423.0,19.0,2.0,17.66,48.0,0.49,Bachelor's,Full-time,Divorced,Yes,No,Home,Yes,0
3,18.0,25087.0,15645.0,474.0,23.0,4.0,20.95,48.0,0.58,Bachelor's,Part-time,Divorced,No,No,Education,Yes,0
4,31.0,33215.0,235022.0,771.0,67.0,3.0,10.53,36.0,0.90,PhD,Full-time,Single,Yes,No,Auto,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,59.0,127901.0,46482.0,424.0,44.0,4.0,15.27,60.0,0.58,Master's,Self-employed,Divorced,No,Yes,Business,No,1
996,54.0,139677.0,138362.0,780.0,27.0,3.0,11.82,24.0,0.49,PhD,Part-time,Single,Yes,No,Business,No,1
997,42.0,53038.0,62256.0,763.0,116.0,3.0,2.55,36.0,0.54,PhD,Part-time,Divorced,Yes,No,Education,Yes,0
998,43.0,137420.0,116698.0,424.0,21.0,4.0,9.43,36.0,0.85,PhD,Self-employed,Divorced,No,No,Home,No,1
999,48.0,33362.0,205046.0,750.0,2.0,2.0,4.37,60.0,0.37,High School,Unemployed,Married,No,No,Other,Yes,1

In [25]:
preprocessed_dataset.to_csv("Preprocessed_Dataset.csv",index = False)

# Converting Categorical to Numerical Dataset

In [26]:
independent = pd.get_dummies(independent,dtype= int,drop_first = True)
independent

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education_High School,...,EmploymentType_Unemployed,MaritalStatus_Married,MaritalStatus_Single,HasMortgage_Yes,HasDependents_Yes,LoanPurpose_Business,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other,HasCoSigner_Yes
0,48.0,90754.0,5902.0,462.0,91.0,2.0,10.46,60.0,0.80,0,...,0,1,0,0,0,0,0,1,0,1
1,24.0,59193.0,90049.0,309.0,73.0,1.0,20.85,36.0,0.88,1,...,0,0,1,1,0,1,0,0,0,1
2,55.0,77343.0,204141.0,423.0,19.0,2.0,17.66,48.0,0.49,0,...,0,0,0,1,0,0,0,1,0,1
3,18.0,25087.0,15645.0,474.0,23.0,4.0,20.95,48.0,0.58,0,...,0,0,0,0,0,0,1,0,0,1
4,31.0,33215.0,235022.0,771.0,67.0,3.0,10.53,36.0,0.90,0,...,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,59.0,127901.0,46482.0,424.0,44.0,4.0,15.27,60.0,0.58,0,...,0,0,0,0,1,1,0,0,0,0
996,54.0,139677.0,138362.0,780.0,27.0,3.0,11.82,24.0,0.49,0,...,0,0,1,1,0,1,0,0,0,0
997,42.0,53038.0,62256.0,763.0,116.0,3.0,2.55,36.0,0.54,0,...,0,0,0,1,0,0,1,0,0,1
998,43.0,137420.0,116698.0,424.0,21.0,4.0,9.43,36.0,0.85,0,...,0,0,0,0,0,0,0,1,0,0
999,48.0,33362.0,205046.0,750.0,2.0,2.0,4.37,60.0,0.37,1,...,1,1,0,0,0,0,0,0,1,1

In [27]:
preprocessed_dataset_numerical = pd.concat([independent, dependent],axis = 1)
preprocessed_dataset_numerical

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education_High School,...,MaritalStatus_Married,MaritalStatus_Single,HasMortgage_Yes,HasDependents_Yes,LoanPurpose_Business,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other,HasCoSigner_Yes,Default
0,48.0,90754.0,5902.0,462.0,91.0,2.0,10.46,60.0,0.80,0,...,1,0,0,0,0,0,1,0,1,0
1,24.0,59193.0,90049.0,309.0,73.0,1.0,20.85,36.0,0.88,1,...,0,1,1,0,1,0,0,0,1,0
2,55.0,77343.0,204141.0,423.0,19.0,2.0,17.66,48.0,0.49,0,...,0,0,1,0,0,0,1,0,1,0
3,18.0,25087.0,15645.0,474.0,23.0,4.0,20.95,48.0,0.58,0,...,0,0,0,0,0,1,0,0,1,0
4,31.0,33215.0,235022.0,771.0,67.0,3.0,10.53,36.0,0.90,0,...,0,1,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,59.0,127901.0,46482.0,424.0,44.0,4.0,15.27,60.0,0.58,0,...,0,0,0,1,1,0,0,0,0,1
996,54.0,139677.0,138362.0,780.0,27.0,3.0,11.82,24.0,0.49,0,...,0,1,1,0,1,0,0,0,0,1
997,42.0,53038.0,62256.0,763.0,116.0,3.0,2.55,36.0,0.54,0,...,0,0,1,0,0,1,0,0,1,0
998,43.0,137420.0,116698.0,424.0,21.0,4.0,9.43,36.0,0.85,0,...,0,0,0,0,0,0,1,0,0,1
999,48.0,33362.0,205046.0,750.0,2.0,2.0,4.37,60.0,0.37,1,...,1,0,0,0,0,0,0,1,1,1

# Univariate Analysis

In [28]:
preprocessed_dataset_numerical.describe()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education_High School,...,MaritalStatus_Married,MaritalStatus_Single,HasMortgage_Yes,HasDependents_Yes,LoanPurpose_Business,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other,HasCoSigner_Yes,Default
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,39.600000,81365.165000,134067.720000,561.998000,55.282000,2.466000,14.051820,36.240000,0.515550,0.259000,...,0.315000,0.334000,0.523000,0.456000,0.195000,0.219000,0.187000,0.184000,0.504000,0.50000
std,15.200824,39475.840254,69721.853733,160.022852,34.246537,1.138482,6.637104,16.875164,0.228342,0.438305,...,0.464748,0.471876,0.499721,0.498309,0.396399,0.413776,0.390107,0.387678,0.500234,0.50025
min,18.000000,15049.000000,5176.000000,300.000000,0.000000,1.000000,2.000000,12.000000,0.100000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,26.000000,46452.750000,75140.500000,417.750000,26.000000,1.000000,8.637500,24.000000,0.320000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,37.000000,82165.000000,138696.500000,556.000000,53.000000,2.000000,14.365000,36.000000,0.530000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.50000
75%,52.000000,114202.000000,195976.500000,699.000000,83.250000,3.000000,19.852500,48.000000,0.720000,1.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.00000
max,69.000000,149986.000000,249912.000000,849.000000,119.000000,4.000000,24.990000,60.000000,0.900000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [29]:
obj = Univariate()
tble = obj.getUnivarateTbl(preprocessed_dataset_numerical, preprocessed_dataset_numerical.columns)
tble

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education_High School,...,MaritalStatus_Married,MaritalStatus_Single,HasMortgage_Yes,HasDependents_Yes,LoanPurpose_Business,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other,HasCoSigner_Yes,Default
Mean,39.6,81365.165,134067.72,561.998,55.282,2.466,14.05182,36.24,0.51555,0.259,...,0.315,0.334,0.523,0.456,0.195,0.219,0.187,0.184,0.504,0.5
Median,37.0,82165.0,138696.5,556.0,53.0,2.0,14.365,36.0,0.53,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.5
Mode,18.0,15098.0,22099.0,766.0,49.0,1.0,21.8,36.0,0.59,0,...,0,0,1,0,0,0,0,0,1,0
Q1:25%,26.0,46452.75,75140.5,417.75,26.0,1.0,8.6375,24.0,0.32,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Q2:50%,37.0,82165.0,138696.5,556.0,53.0,2.0,14.365,36.0,0.53,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.5
Q3:75%,52.0,114202.0,195976.5,699.0,83.25,3.0,19.8525,48.0,0.72,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
Q4:100%,69.0,149986.0,249912.0,849.0,119.0,4.0,24.99,60.0,0.9,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
IQR,26.0,67749.25,120836.0,281.25,57.25,2.0,11.215,24.0,0.4,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
1.5Rule,39.0,101623.875,181254.0,421.875,85.875,3.0,16.8225,36.0,0.6,1.5,...,1.5,1.5,1.5,1.5,0.0,0.0,0.0,0.0,1.5,1.5
Lesser,-13.0,-55171.125,-106113.5,-4.125,-59.875,-2.0,-8.185,-12.0,-0.28,-1.5,...,-1.5,-1.5,-1.5,-1.5,0.0,0.0,0.0,0.0,-1.5,-1.5
Greater,91.0,215825.875,377230.5,1120.875,169.125,6.0,36.675,84.0,1.32,2.5,...,2.5,2.5,2.5,2.5,0.0,0.0,0.0,0.0,2.5,2.5
Minimum,18.0,15049.0,5176.0,300.0,0.0,1.0,2.0,12.0,0.1,0,...,0,0,0,0,0,0,0,0,0,0
Maximum,69.0,149986.0,249912.0,849.0,119.0,4.0,24.99,60.0,0.9,1,...,1,1,1,1,1,1,1,1,1,1
Skew,0.323662,-0.001793,-0.108357,0.107207,0.18292,0.024887,-0.087375,-0.013901,-0.131146,1.101895,...,0.797725,0.704985,-0.092236,0.176951,1.541938,1.360946,1.607905,1.633486,-0.016025,0.0
Kurtosis,-1.105458,-1.205527,-1.184967,-1.233146,-1.109912,-1.406454,-1.208015,-1.277003,-1.204393,-0.787406,...,-1.366371,-1.506012,-1.995488,-1.972638,0.378324,-0.148126,0.586528,0.66961,-2.003755,-2.004012
Variance,231.065065,1558341963.797573,4861136887.937537,25607.313309,1172.825301,1.29614,44.051146,284.771171,0.05214,0.192111,...,0.215991,0.222667,0.249721,0.248312,0.157132,0.17121,0.152183,0.150294,0.250234,0.25025
STD,15.200824,39475.840254,69721.853733,160.022852,34.246537,1.138482,6.637104,16.875164,0.228342,0.438305,...,0.464748,0.471876,0.499721,0.498309,0.396399,0.413776,0.390107,0.387678,0.500234,0.50025

In [30]:
#Finding Outliers
lesser_outlier = []
greater_outlier = []
for column in preprocessed_dataset_numerical.columns:
  
    if tble[column]["Minimum"] < tble[column]["Lesser"] :
        lesser_outlier.append(column)
    
    if tble[column]["Maximum"] > tble[column]["Greater"]:
        greater_outlier.append(column)     

print(lesser_outlier)
print(greater_outlier)

[]
["Education_Master's", 'Education_PhD', 'LoanPurpose_Business', 'LoanPurpose_Education', 'LoanPurpose_Home', 'LoanPurpose_Other']

In [31]:
#Removing the Outliers by replacing the lesser and greater values
for column in lesser_outlier:
    preprocessed_dataset_numerical[column][preprocessed_dataset_numerical[column] < tble[column]["Lesser"]] = tble[column]["Lesser"]

for column in greater_outlier: 
    preprocessed_dataset_numerical[column][preprocessed_dataset_numerical[column] > tble[column]["Greater"]] = tble[column]["Greater"]

In [32]:
tble = obj.getUnivarateTbl(preprocessed_dataset_numerical, preprocessed_dataset_numerical.columns)
tble

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education_High School,...,MaritalStatus_Married,MaritalStatus_Single,HasMortgage_Yes,HasDependents_Yes,LoanPurpose_Business,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other,HasCoSigner_Yes,Default
Mean,39.6,81365.165,134067.72,561.998,55.282,2.466,14.05182,36.24,0.51555,0.259,...,0.315,0.334,0.523,0.456,0.0,0.0,0.0,0.0,0.504,0.5
Median,37.0,82165.0,138696.5,556.0,53.0,2.0,14.365,36.0,0.53,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.5
Mode,18.0,15098.0,22099.0,766.0,49.0,1.0,21.8,36.0,0.59,0,...,0,0,1,0,0,0,0,0,1,0
Q1:25%,26.0,46452.75,75140.5,417.75,26.0,1.0,8.6375,24.0,0.32,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Q2:50%,37.0,82165.0,138696.5,556.0,53.0,2.0,14.365,36.0,0.53,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.5
Q3:75%,52.0,114202.0,195976.5,699.0,83.25,3.0,19.8525,48.0,0.72,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
Q4:100%,69.0,149986.0,249912.0,849.0,119.0,4.0,24.99,60.0,0.9,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
IQR,26.0,67749.25,120836.0,281.25,57.25,2.0,11.215,24.0,0.4,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
1.5Rule,39.0,101623.875,181254.0,421.875,85.875,3.0,16.8225,36.0,0.6,1.5,...,1.5,1.5,1.5,1.5,0.0,0.0,0.0,0.0,1.5,1.5
Lesser,-13.0,-55171.125,-106113.5,-4.125,-59.875,-2.0,-8.185,-12.0,-0.28,-1.5,...,-1.5,-1.5,-1.5,-1.5,0.0,0.0,0.0,0.0,-1.5,-1.5
Greater,91.0,215825.875,377230.5,1120.875,169.125,6.0,36.675,84.0,1.32,2.5,...,2.5,2.5,2.5,2.5,0.0,0.0,0.0,0.0,2.5,2.5
Minimum,18.0,15049.0,5176.0,300.0,0.0,1.0,2.0,12.0,0.1,0,...,0,0,0,0,0,0,0,0,0,0
Maximum,69.0,149986.0,249912.0,849.0,119.0,4.0,24.99,60.0,0.9,1,...,1,1,1,1,0,0,0,0,1,1
Skew,0.323662,-0.001793,-0.108357,0.107207,0.18292,0.024887,-0.087375,-0.013901,-0.131146,1.101895,...,0.797725,0.704985,-0.092236,0.176951,0.0,0.0,0.0,0.0,-0.016025,0.0
Kurtosis,-1.105458,-1.205527,-1.184967,-1.233146,-1.109912,-1.406454,-1.208015,-1.277003,-1.204393,-0.787406,...,-1.366371,-1.506012,-1.995488,-1.972638,0.0,0.0,0.0,0.0,-2.003755,-2.004012
Variance,231.065065,1558341963.797573,4861136887.937537,25607.313309,1172.825301,1.29614,44.051146,284.771171,0.05214,0.192111,...,0.215991,0.222667,0.249721,0.248312,0.0,0.0,0.0,0.0,0.250234,0.25025
STD,15.200824,39475.840254,69721.853733,160.022852,34.246537,1.138482,6.637104,16.875164,0.228342,0.438305,...,0.464748,0.471876,0.499721,0.498309,0.0,0.0,0.0,0.0,0.500234,0.50025

In [33]:
#Cross checking Outliers
lesser_outlier = []
greater_outlier = []
for column in preprocessed_dataset_numerical.columns:
  
    if tble[column]["Minimum"] < tble[column]["Lesser"] :
        lesser_outlier.append(column)
    
    if tble[column]["Maximum"] > tble[column]["Greater"]:
        greater_outlier.append(column)     

print(lesser_outlier)
print(greater_outlier)

[]
[]

In [34]:
preprocessed_dataset_numerical.isnull().sum()

Age                             0
Income                          0
LoanAmount                      0
CreditScore                     0
MonthsEmployed                  0
NumCreditLines                  0
InterestRate                    0
LoanTerm                        0
DTIRatio                        0
Education_High School           0
Education_Master's              0
Education_PhD                   0
EmploymentType_Part-time        0
EmploymentType_Self-employed    0
EmploymentType_Unemployed       0
MaritalStatus_Married           0
MaritalStatus_Single            0
HasMortgage_Yes                 0
HasDependents_Yes               0
LoanPurpose_Business            0
LoanPurpose_Education           0
LoanPurpose_Home                0
LoanPurpose_Other               0
HasCoSigner_Yes                 0
Default                         0
dtype: int64

In [35]:
preprocessed_dataset_numerical.to_csv("Preprocessed_Dataset_Numerical.csv",index = False)